<span class="h-card vcard p-author author p-contributor">
  <a href="<%= setting :author_url %>" rel="me" class="u-url url">
    <span class="p-name fn as-actor">
      <%= setting :author_name %>
    </span>
  </a>
</span>
