<span class="h-card vcard p-author author">
  <a href="<%= CONFIG_AUTHOR_URL %>" rel="me" class="u-url url">
    <span class="p-name fn as-actor">
      <%= CONFIG_AUTHOR_NAME %>
    </span>
  </a>
</span>
