<% unless flash[:notice].blank? %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<dl>
  <% @settings.each do |setting| %>
    <dt><%= link_to setting.name, edit_setting_path(setting) %></dt>
    <dd><%= setting.content %></dd>
  <% end %>
</dl>
