body {
  background: #eee;
  color: #333;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* big sections */
nav,
article,
.admin,
.previous-in-thread {
  background: white;
  padding: 1em;
  margin: 1em 0;
}

/* site nav */
nav[role="navigation"] {
  font-weight: bold;

  li            { display: inline; }
  li:last-child { float: right; }
}

/* admin */
.admin:hover { opacity: 1; }
.admin {
  outline: 1px solid red;
  background: pink;
  opacity: .25;

  li { display: inline; }
  .delete { float: right; }
}

/* post */
.h-entry {
  font-size: 150%;

  footer {
    margin: 2em 0 0 0;
    font-size: 66%;
    opacity: .75;
    color: #999;

    a { color: #999; }
  }
}

/* admin form... */
label {
  display: block;
  margin: 1em 0 .5em 0;
}

textarea {
  width: 100%;
  height: 6em;
}

input[type=url] {
  width: 100%;
}

.checkbox {
  margin-top: 1em;

  label {
    display: inline;
  }
}

.actions {
  margin-top: 2em;
}

input[type=submit] {
  float: right;
}
/* ...admin form */

/* general purpose... */
p,
ol,
ul,
ul > li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav,
ol > li {
  margin-bottom: 4em;
}

a,
a:hover,
a:visited {
  color: #333;
}

.small-word {
  font-weight: normal;
  font-style: italic;
  font-family: georgia, times, serif;
}
/* ...general purpose */
