.h-feed {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.h-entry {
  .p-name .p-hs-title,
  .p-name .p-hs-subtitle {
    display: block;
  }

  header  .post-meta {
    margin-bottom: 1em;
  }

  .p-name {
    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    .edit {
      font-weight: normal;
      color: green;
    }
  }

  p { margin-bottom: 1em; }

  footer {
    margin: 2em 0 0 0;
    opacity: .75;
    color: #999;

    a { color: #999; }

    p { margin: 0; }
  }
}
